{% extends 'templates/base.html' %}
{% load static %}
{% block content %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">The chord recognition webpage</h1>
            <h2 class="masthead-subheading mb-0">Upload a wav file and we'll find the chords</h2>
            <form id="file-form" action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display: none">{{form}}
                    <input class="btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Upload file"></div>
                <label for="{{ form.file.auto_id }}" class="btn btn-primary btn-xl rounded-pill mt-5 label-clickable"
                    value="Upload file">Upload File</label>
            </form>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="static/img/upc.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">The team</h2>
                    <p>We are Guillem Cano, Gabriel Ferraté and Guillem Lladós,
                    from the chord recognition team @UPC.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">The idea</h2>
                    The idea was to develop a fully-working chord recognition system.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="static/img/03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        aliquid, mollitia odio veniam sit iste esse assumenda amet
                        aperiam exercitationem, ea animi blanditiis recusandae!
                        Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block imports %}
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
